#float_r {
    height: 50px;
    float: right;
    font-size: 1.25rem;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding: 0.75rem 0;
}

i {
    margin-left: 0.4rem;
    color: lightgrey;
}

.txt_r {
    text-align: right;
}

.txt_c {
    text-align: center;
}

#empty_line {
    height: 50px;
}

#empty {
    height: 250px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.price_plan .price_and_plan {
    margin-top: 5rem;
}

.price_plan .price_and_plan:last-child {
    margin-top: 0;
}

.price_plan{
    margin-top: 5rem;
}

.price_plan .row {
    height: 250px;
}

.price_plan .col_15 {
    height: 100%;
    text-align: center;
    padding-top: 3rem;
    border: 1px solid lightgrey;
}

.price_plan .col_15 .col_100 h3 {
    font-size: 1.5rem;
}

.p_l {
    padding-left: 1rem;
}

.col_100>div {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.price_and_plan > .col_15 span {
    display: block;
    color: grey;
    padding: 1.25rem 0;
}

.table ul {
    height: 50px;
    position: relative;
}

.table ul li {
    float:left;
    width: 15%;
    height: 100%;

    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table ul li:first-child {
    width: 25%;
    text-align: left;
}

.table table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table table tr td:first-child {
    width: 25%;
    text-align: left;
    padding-left: 1rem;
}

.table table tr td {
    width: 15%;
    text-align: center;
    padding: 5px 0;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.price_plan .col_25 #last {
    height: 350px;
}

#radio_button {
    padding: 6.5rem 0 2rem;
}

.col_15#pay  {
    padding-top: 1.5rem;
}

#pay h3 {
    padding-bottom: 2rem;
    font-size: 1rem;
}