/*#region-common */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 1440px;
}

section {
    margin: 8rem 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*#endregion-common */


/*#region-debug*/

.debug .col_15 {
    height: 150px;    
}

.debug .col_20 {
    height: 15%;     
}

.debug .col_30 {
    height: 15%; 
}

.debug .col_33 {
    height: 100%; 
}

.debug .col_35 {
    height: 250px;
}

.debug .col_40 {
    height: 15%; 
}

.debug .col_50 {
    height: 100%; 
}

.debug .col_65 {
    height: 250px;
}

.debug .col_100 {
    height: 200px; 
}

.debug .row[class*="col_"] {
    background-color: var(--bk_florida);
}

.debug .plan .row {
    height: 1000px;
    background-color: var(--bk_topps);
}

.debug .partner .row {
    height: 600px;
    background-color: var(--bk_topps);
}

.debug .business .row {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .questions {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .team .row {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .team .col_30 {
    height: 300px;
    background-color: #0061FF;
}

.debug .team .col_40 {
    height: 300px;
}

.debug .navbar {
    height: 50px;
    background-color: red;
}

.debug .bk_hero {
    height: 550px;
}

.debug .container_big {
    background-color: #61082B;
}

.debug .container_small div[class*="col_"],
.debug .team div[class*="col_"] {
    border: 3px solid black;
    background-color: #eec6c6;
}

.debug .subtitle_section {
    height: 150px;
    background-color: var(--bk_channel);
}

.debug .plan {
    background-color: var(--bk_primary_btn);
    margin-bottom: 10rem;
}

.debug .questions {
    margin-bottom: 10rem;
}

.debug footer {
    height: 500px;
    background-color: #0061FF;
}

/*#endregion*/

/*#region-Variables */

:root {
    --bk_hero: #B4D0E7;
    --bk_primary_btn: #0061FF;
    --font_lightgrey: #74838F;
    --bk_lt_designit: #A2D39B;
    --bk_big_designit: #F5F5F5;
    --border_designit: #D0E9CD;
    --bk_asu: #61082B;
    --bk_florida: #0093CE;
    --bk_topps: #FF1C1C;
    --bk_world: #D5001F;
    --bk_lonely: #0D2481;
    --bk_channel: #FFD830;
}

/*#endregion*/

/*#region-Utility */

.m_c {
    margin: 0 auto;
} 

.m_l {
    margin-left: 10%;
} 

.m_r {
    margin-right: 10%;
}

.m_t {
    margin-top: 1.25rem;
}

.m_b {
    margin-bottom: 15rem;
}

.container_big {
    max-width: 90%;
    width: 1170px;
    margin: 0 auto;
    padding: 3.5rem 0;
}

.container_small {
    width: 1000px;
    max-width: 70%;
    margin: 0 auto;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

[class*="col_"] {
    float: left;
}

.fl_l {
    float: left;
}

.col_15 {
    width: 15%;    
}

.col_20 {
    width: 20%;    
}

.col_25 {
    width: 25%;    
}

.col_30 {
    width: 30%;
}

.col_33 {
    width: 33.3%;
}

.col_35 {
    width: 35%;
}

.col_40 {
    width: 40%;
}

.col_45 {
    width: 45%;
}

.col_50 {
    width: 50%;
}

.col_55 {
    width: 55%;
}

.col_65 {
    width: 65%;
}

.col_75 {
    width: 75%;
}

.col_100 {
    width: 100%;
}

.btn {
    padding: 0.5rem 1.25rem;
    display: inline-block;
}

.btn_primary {
    background-color: var(--bk_primary_btn);
}

.btn_border {
    border: 1px solid black;
    margin: 2rem 0;
}

.icon_bullet {
    width: 10%;
}

.text_bullet {
    width: 90%;
}

/* Utility text */

.txt_dx {
    text-align: right;
}

.txt_sx {
    text-align: left;
}

.txt_white {
    color: white;
}

.txt_blk {
    color: black;
}

.font_14px {
    font-size: 14px;
}

.txt_35px {
    font-size: 35px;
}

/* Utility link */

.link {
    text-decoration: revert;
}

/*#endregion-utility*/


/*#region-Header */

/*#region-dropdown*/
  
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    min-width: 250px;
    display: none;
    background-color: #6cb3eeca;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    z-index: 1;
}

.dropdown-content h4 {
    font-size: 0.9rem;
   padding: 0.5rem;
   border-bottom: 2px solid lightblue;
}

.dropdown-content a {
    display: block;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0.5rem 0.75rem;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*#endregion-dropdown*/


.navbar {
    width: 100%;
    padding: 1.2rem;
}

.navbar ul li,
.navbar ul {
    padding: 0 1rem;
    display: inline-block;
}

.navbar ul a {
    color: black;
}

.navbar img {
    width: 110px;
    height: auto;
    margin-top: 0.25rem;
    vertical-align: sub;
}

/*#endregion-Header */

/* Main */

/* #region-hero */

.hero {
    height: 635px;
    background-color: var(--bk_hero);
}

.bk_hero {
    width: 100%;
    background-color: var(--bk_hero);
}


.title_hero {
    font-size: 68px;
}

.text_hero {
    width: 385px;
    margin-top: 2rem;
}

.text_hero>div.btn {
    margin-top: 1.5rem;
}

.text_hero>div a {
    margin: 0 0.5rem;
}

.text_hero>span {
    font-size: 0.9rem;
    display: block;
    margin-top: 0.55rem;
}

.hero img {
    margin-top: 2rem;
}

.arrow_down {
    font-size: 35px;
    margin-top: 2rem;
    color: black;
}

/* #endregion-hero */


/* #region-plan */

.radio_button {
    padding: 3rem 0 2rem;
    /* appearance:initial; */
}

.radio_button input:last-child {
    margin-left: 1rem;
}

.plan .card {
    max-width: 90%;
    height: 900px;
    border: 1px solid black;
}

.plan .body_card .row>div:first-child {
    color: #0061FF;
}

.details_plan_45{
    margin-top: 2rem;
    padding-left: 2.75rem;
}

.details_plan_45 p {
    line-height: 1.5rem;
}

.plan .container_100 {
    margin-top: 2.5rem;
    border: 1px solid black;
}

.details_card {
    width: 85%;
    margin: 1.75rem auto;
}

.details_plan_100 {
    width: 95%;
    margin: 1.75rem auto;
}

.title_card {
    text-align: center;
    padding: 0.6rem 0;
    border-bottom: 1px solid black;
}

.details_card h3,
.details_plan_45 h3,
.details_plan_100 h3 {
    font-size: 23px;
}

.head_card h4,
.enterprise h4 {
    margin: 1rem 0 0.25rem;
}

.head_card>span {
    color: gray;
}

.plan .details_card .bullet_point div {
    margin-top: 0.75rem;
}

.chek_mark {
color: var(--bk_primary_btn);
}

/* #endregion-plan */


/*#region-business */

.business .col_33 {
    margin-top: 3rem;
}

.business .card {
    max-width: 95%;
    height: 450px;
}

.business img {
    height: 230px;
}

.head_card .btn {
    width: 100%;
    margin: 3rem 0 1.5rem;
    text-align: center;
    font-size: 12px;
}

.enterprise .btn {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.shop_now>span {
    padding: 2rem 0;
    margin-top: 2rem;
    border-bottom: 1px solid grey;
}

.shop_now a {
color: var(--bk_primary_btn);
}

.body_card {
    margin-top: 4.5rem;
}

.operations h3,
.subtitle_questions {
    font-size: 22px;
}

.operations p {
    margin-top: 1rem;
}

/*#endregion-business */


/*#region-Team */

.team .subtitle_section>span {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.team .subtitle_section>span a {
    color: var(--bk_primary_btn);
    text-decoration: revert;
}

.team .col_50 img {
    width: 120px;
    height: auto;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .card>.row .col_50 {
    height: 215px;
    position: relative;
} 

.designit {
    background-color: var(--bk_lt_designit);
    border: 10px solid #D0E9CD;
}

.asu {
    background-color: var(--bk_asu);
}

.florida {
    background-color: var(--bk_florida);
}

.topps {
    background-color: var(--bk_topps);
}

.big_designit {
    height: 430px;
    padding: 3rem;
    background-color: var(--bk_big_designit);
}

.world {
    background-color: var(--bk_world);
}

.hearst {
    background-color: var(--bk_hero);
}

.lonely {
    background-color: var(--bk_lonely);
}

.channel {
    background-color: var(--bk_channel);
}

.big_designit img {
    width: 120px;
    height: auto;
    margin-bottom: 4.5rem;
}

.big_designit p {
    margin-bottom: 3rem;
}

.team .row>.col_100 {
    background-color: var(--bk_hero);
}

.team .row>.col_100 .col_35 {
    text-align: right;
}

.free_trial {
    height: 315px;
    margin: auto;
    padding-top: 6.5rem;
    color: var(--bk_asu);
}

.free_trial .btn {
    background-color: white;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.free_trial .btn a {
    color: black;
}

/*#endregion-Team */


/*#region-rows_questions */

.subtitle_questions {
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
}

.questions .bullet_point .row {
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
}

.questions .text_bullet {
    width: 95%;
}

.text_bullet p {
    margin-top: 4rem;
}

.questions .icon_bullet {
    width: 5%;
}

/*#region-accordian*/


.accordian p{
    display: none;
    visibility: none;
    margin-top: 2rem;
}

.accordian:hover p{
    display:block;  
}


/*#endregion-accordian*/

/*#endregion-rows_questions */

/*#region-Footer */

.site_footer {
    height: 450px;
    background-color: black;
    color: white;
    padding-top: 2rem;
}

.subtitle_link {
    margin-bottom: 1.5rem;
}

.useful_links ul{
    line-height: 2rem;
}

.language{
    width: 90px;
    font-size: 10px;
    color: gray;
    border-top: 1px solid lightgray;
    margin-top: 4.5rem;
    padding-top: 2.5rem;
}

/*#endregion-Footer */