/* Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    min-width: 1440px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Debug */

.debug .col_15 {
    height: 150px;    
}

.debug .col_20 {
    height: 15%;     
}

.debug .col_30 {
    height: 15%; 
}

.debug .col_33 {
    height: 100%; 
}

.debug .col_35 {
    height: 250px;
}

.debug .col_40 {
    height: 15%; 
}

.debug .col_50 {
    height: 100%; 
}

.debug .col_65 {
    height: 250px;
}

.debug .col_100 {
    height: 200px; 
}

.debug .row[class*="col_"] {
    background-color: var(--bk_florida);
}

.debug .plan .row {
    height: 1000px;
    background-color: var(--bk_topps);
}

.debug .partner .row {
    height: 600px;
    background-color: var(--bk_topps);
}

.debug .business .row {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .questions {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .team .row {
    height: 500px;
    background-color: var(--bk_topps);
}

.debug .team .col_30 {
    height: 300px;
    background-color: #0061FF;
}

.debug .team .col_40 {
    height: 300px;
}

.debug .navbar {
    height: 50px;
    background-color: red;
}

.debug .bk_hero {
    height: 550px;
}

.debug .container_big {
    background-color: #61082B;
}

/* .debug .container_small {
    padding: 1rem;
    background-color: #d16736;
} */

.debug .container_small div[class*="col_"],
.debug .team div[class*="col_"] {
    border: 3px solid black;
    background-color: #eec6c6;
}

.debug .subtitle_section {
    height: 150px;
    background-color: var(--bk_channel);
}

.debug .plan {
    background-color: var(--bk_primary_btn);
    margin-bottom: 10rem;
}

.debug .questions {
    margin-bottom: 10rem;
}

.debug footer {
    height: 500px;
    background-color: #0061FF;
}


/* Variables */

:root {
    --bk_hero: #B4D0E7;
    --bk_primary_btn: #0061FF;
    --font_lightgrey: #74838F;
    --bk_lt_designit: #A2D39B;
    --bk_big_designit: #F5F5F5;
    --border_designit: #D0E9CD;
    --bk_asu: #61082B;
    --bk_florida: #0093CE;
    --bk_topps: #FF1C1C;
    --bk_world: #D5001F;
    --bk_lonely: #0D2481;
    --bk_channel: #FFD830;
}

/* Utility */

.container_big {
    max-width: 90%;
    width: 1170px;
    margin: 0 auto;
    padding: 3.5rem 0;
}

.container_small {
    width: 1000px;
    max-width: 70%;
    margin: 0 auto;
}

.col_15 {
    width: 50%;    
}

.col_20 {
    width: 20%;    
}

.col_25 {
    width: 25%;    
}

.col_30 {
    width: 30%;
}

.col_33 {
    width: 33.3%;
}

.col_35 {
    width: 35%;
}

.col_40 {
    width: 40%;
}

.col_45 {
    width: 45%;
}

.col_50 {
    width: 50%;
}

.col_55 {
    width: 55%;
}

.col_65 {
    width: 65%;
}

.col_75 {
    width: 75%;
}

.col_100 {
    width: 100%;
}

[class*="col_"] {
    float: left;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

.btn {
    padding: 0.5rem 1.25rem;
    display: inline-block;
}

.hero .btn>a,
.plan .btn>a {
    color: white;
}

.btn_primary {
    background-color: var(--bk_primary_btn);
}

.check_blue {
    padding: 3rem;
}

.btn_trasparent {
    color: black;
    border: 1px solid black;
    margin: 2rem 0;
}

.btn_trasparent a {
    color: black;
}
  
ul.check_blue li::before {
    content: '✓ ';
    color: var(--bk_primary_btn);
}

.m_c {
    margin: 0 auto;
} 

.m_l {
    margin-left: 13%;
} 

.m_r {
    margin-right: 13%;
} 

.m_t {
    margin-top: 1.25rem;
}

.m_b {
    margin-bottom: 15rem;
}

/* Utility text */

.txt_dx {
    text-align: right;
}

.font_14px {
    font-size: 14px;
}

/* Header */

.navbar {
    width: 100%;
    padding: 1.2rem;
}

.navbar ul li,
.navbar ul {
    padding: 0 1rem;
    display: inline-block;
}

.navbar ul a {
    color: black;
}

.navbar img {
    width: 110px;
    height: auto;
    margin-top: 0.25rem;
    vertical-align: sub;
}

.navbar .btn a{
    color: white;
}

/* Main */

section {
    margin: 10rem 0;
}

/* hero */

.bk_hero {
    width: 100%;
    background-color: var(--bk_hero);
}

.hero {
    height: 635px;
    background-color: var(--bk_hero);
}

.title_hero {
    font-size: 68px;
}

.text_hero {
    width: 385px;
    margin-top: 2rem;
}

.text_hero>div.btn {
    margin-top: 1.5rem;
}

.text_hero>div a {
    margin: 0 0.5rem;
}

.text_hero>span {
    font-size: 0.9rem;
    display: block;
    margin-top: 0.55rem;
}

.hero img {
    margin-top: 2rem;
}

.arrow_down {
    font-size: 35px;
    margin-top: 2rem;
}

/* plan */

.plan h2,
.business h2,
.team h2 {
    font-size: 35px;
}

.radio_button {
    padding: 3rem 0 2rem;
    /* appearance:initial; */
}

.radio_button input:last-child {
    margin-left: 1rem;
}

.plan .container {
    max-width: 90%;
    height: 950px;
    border: 1px solid black;
}

.business .container {
    max-width: 95%;
    height: 450px;
}

.details_plan_45{
    margin-top: 2rem;
    padding-left: 2.75rem;
}

.details_plan_45 p {
    line-height: 1.5rem;
}

.plan .container_100 {
    margin-top: 2.5rem;
    border: 1px solid black;
}

.details_plan {
    width: 85%;
    margin: 1.75rem auto;
}

.details_plan_100 {
    width: 95%;
    margin: 1.75rem auto;
}

.title_plan {
    text-align: center;
    padding: 0.6rem 0;
    border-bottom: 1px solid black;
}

.details_plan h3,
.details_plan_45 h3,
.details_plan_100 h3 {
    font-size: 23px;
}

.price h4,
.enterprise h4 {
    margin: 1rem 0 0.25rem;
}

.price>span {
    color: gray;
}

.bullet_point {
    margin-top: 2rem;
}

.bullet_point div,
.highlights li{
    margin-top: 1.5rem;
}

.chek_mark {
color: var(--bk_primary_btn);
}

/* business */

.business .col_33 {
    margin-top: 3rem;
}

.price .btn {
    width: 100%;
    margin: 3rem 0 1.5rem;
    text-align: center;
    font-size: 12px;
}

.enterprise .btn {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.shop_now>span {
    padding: 2rem 0;
    margin-top: 2rem;
    border-bottom: 1px solid grey;
}

.shop_now a {
color: var(--bk_primary_btn);
}

.highlights {
    margin-top: 4.5rem;
}

.operations h3,
.subtitle_questions {
    font-size: 22px;
}

.operations p {
    margin-top: 1rem;
}

/* Team */

.team .subtitle_section>span {
    display: inline-block;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.team .subtitle_section>span a {
    color: var(--bk_primary_btn);
    text-decoration: revert;
}


/* .row div:first-child li:first-child {
    list-style-image: url('./img/user.png');
} */

.team .col_15 img {
    width: 120px;
    height: auto;
    filter: invert(1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .container>.row .col_15 {
    height: 215px;
    position: relative;
} 

.designit {
    background-color: var(--bk_lt_designit);
    border: 10px solid #D0E9CD;
}

.asu {
    background-color: var(--bk_asu);
}

.florida {
    background-color: var(--bk_florida);
}

.topps {
    background-color: var(--bk_topps);
}

.big_designit {
    height: 430px;
    padding: 3rem;
    background-color: var(--bk_big_designit);
}

.world {
    background-color: var(--bk_world);
}

.hearst {
    background-color: var(--bk_hero);
}

.lonely {
    background-color: var(--bk_lonely);
}

.channel {
    background-color: var(--bk_channel);
}

.big_designit img {
    width: 120px;
    height: auto;
    margin-bottom: 4.5rem;
}

.big_designit p {
    margin-bottom: 3rem;
}

.team .row>.col_100 {
    background-color: var(--bk_hero);
}

.team .row>.col_100 .col_35 {
    text-align: right;
}

.free_trial {
    height: 315px;
    margin: auto;
    padding-top: 6.5rem;
    color: var(--bk_asu);
}

.free_trial .btn {
    background-color: white;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.free_trial .btn a {
    color: black;
}

/* rows_questions */

.subtitle_questions {
    padding-bottom: 3rem;
    border-bottom: 1px solid lightgrey;
}

.rows_questions li {
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
}

/* Footer */

.site_footer {
    height: 450px;
    background-color: black;
    color: white;
}

.subtitle_link {
    margin-bottom: 1.5rem;
}

.useful_links ul{
    line-height: 2rem;
}